
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">

{% endblock %}

{% block title %}Register a new user{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Registration Form</h1>

      {{ wtf.quick_form(form, novalidate=True) }}

	  <p class="space-above"><a href="{{ url_for('home') }}">Go back to home page</a></p>

    </div>
  </div>
</div>

{% endblock %}
